body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
th, td {
    border: solid black;
    width: 200px;
}
ul{
   list-style: none;
}
